NODE_ENV=
PORT=
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=
CLIENT_URL=
GEMINI_API_KEY=
GEMINI_MODEL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SEED_ADMIN_EMAIL=
SEED_ADMIN_PASSWORD=
MAX_REGENERATIONS=
